.forum {
  transition: all 0.3s ease;
  position: relative;
}

.forum:hover {
  transform: translateY(calc(-1 * var(--mantine-spacing-xs)));
  /* background-color: var(--mantine-color-default-hover); */
}

.forum__content {
  text-decoration: none;
  color: inherit;
  padding: var(--mantine-spacing-lg);

  /* create a space for the button container with calculation
    padding + height of the button + margin
   */
  padding-bottom: calc(
    var(--mantine-spacing-lg) +
      calc(1.625rem * var(--mantine-scale) + var(--mantine-spacing-md))
  );
}

.forum__action-container {
  position: absolute;
  /* padding of the container */
  bottom: var(--mantine-spacing-lg);
  left: var(--mantine-spacing-lg);

  height: var(--button-height-compact-sm);
}
