.action-overide[data-selected="true"] {
  color: var(--mantine-color-default-color);
  background-color: #0000;
}

.action-overide[data-selected="true"]:hover {
  background-color: var(--mantine-color-default);
}
