.random-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-button--clicked {
  transition: transform 0.5s;
  transform: rotate(360deg);
}

.dice-icon {
  width: calc(1.75rem * var(--mantine-scale));
  height: calc(1.75rem * var(--mantine-scale));
}
